body{
    background-color: grey;
    margin: auto;
}
.intestation {
    background-color: white;

}
.logo {
    display: inline-block;

}
.title {
    display: inline-block;
    margin: 0;
    vertical-align: 25%; 
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}